.env
.env.*
__pycache__/
*.pyc
*.pyo
*.pyd
.hypothesis/
.pytest_cache/
env/
venv/
.venv/
migrations/
.git/
.gitignore
.idea/
.vscode/
dist/
build/
*.db
.DS_Store
*.egg-info/
.alembic/
Dockerfile
docker-compose.yml
README.md
